# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*$py.class

# Entornos virtuales
venv/
env/
*.venv/

# PyInstaller build
build/
dist/
mssloop.spec


# Archivos de sesión / BBDD de PyWhatKit
PyWhatKit_DB.txt

# Datos de usuario de WhatsApp (no subir)
User_Data/

# Sistema
.DS_Store
Thumbs.db

# IDEs / editores
.vscode/
.idea/


msswhatsDEPRECATED.py